body {
    width: 900px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
  nav {
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
    position: fixed;
    width: 900px;
    top: 0px;
    display: flex;
    justify-content: center;
    background-color: #229954;
    color: white;
  }
  
  .menu-item {
    text-decoration: none;
    display: inline-block;
    margin: 20px 25px;
    color: white;
  }
  
  .page-content{
    font-family: "Josefin Sans", sans-serif;
    width: 800px;
    margin-top: 70px;
  }
  
  #notable-achievements {
   text-transform: uppercase; 
  }

  .first-level-li {
    margin-left: 2em;
    list-style-type: circle;
    color: limegreen;
    margin-top: 2px;
  }

  .second-level-li {
    margin-left: 4em;
    line-height: 1.5em;
    
  }

  .unstyled-li {
    list-style-type: none;
    margin-left: 0px;
    font-size: 20px;
    margin: 5px 0px 5px 0px;
    color: green;
  }

  a,
  a:visited {
    color: black;
  }

  a:hover {
    color: gray;
  }