body {
    width: 80%;
    margin: auto;
}

.container {
    background-color: white;
}

.content {
    margin-left: 300px;
    background-color: lime;
    padding-left: 50px;
    padding-top: 50px;
}

.content p {
    margin: 0px;
}

.citat {
    background-color: gray;
    padding: 50px 10px;
    width: 400px;
    font-weight: 900;
    font-size: 30px;
    float: left;
    position: relative;
}

.citat p {
    margin: 0;
    padding: 0;
}